h2 {
  text-align: center;
  padding: 20px 0 10px 0;
  font-family: Lucida Handwriting;
}
.table-striped thead > tr > th {
  border-bottom: none;
}

#table-books td {
  height: 150px;
  width: 30px;
}

.desc {
  height: 100%;
  overflow: auto;
}
#bookimage {
  height: "100%";
}
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* @media screen and (max-width: 600px) { 
  #table-books td {
    width: 15px;
  }
  #background1 {
    width: 100vh;
  }
}*/
